java-client-library/src/test/java/resources/TestEnv.java
java-client-library/src/main/java/script.java
java-client-library/src/main/java/com/bill/java/api/param/ExampleParam.java
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/tasks.xml
.idea/shelf
.idea/gradle.xml
.idea/modules.xml

.gradle/*
java-client-library/build/*